<h1 class="text-center">Welcome to Ideabox!</h1>

<div class="text-center" id="create-idea">
  <h2>Create new Idea</h2>
  <div class="center jumbotron">
    <form>
      <div class="form-group">
        <label for="title">Idea Title</label>
        <input type="title" class="form-control" id="title-field" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="body">Idea Body</label>
        <input type="body" class="form-control" id="body-field" placeholder="Body">
      </div>
      <button type="submit" class="btn btn-info" id="save-idea">Save</button>
    </form>
  </div>
</div>

<div class="center jumbotron">
  <h2 class="text-center">Search</h2>
  <input type="text" class="form-control search-field"><br>
</div>

<h2 class="text-center">Existing Ideas</h2>
<p class="text-center">(Click to Edit)</p><br>
<div class="text-center" id="ideas"></div>
